*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, ;    
}
header{
    background:#e93b3b;
    background-repeat: no-repeat;
    margin-top: 2%;
    background-size: 100%;  
}
nav{
    margin-top:-50px;
    left: 0; 
    margin-bottom: 100px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    background: #6f0808;
    font-size: 25px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    padding: 10px 15px;
    pointer-events: none;
}
.menu a{
    font-size: 20px;
    padding:20px 30px;
    color:#640000;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}

header a:hover{
    background: #720d0d;
    color:#fff;
}

h1{
    color: #720d0d;
    margin-left: 180px;
    margin-bottom: 100px;
}
p{
    color: #FFFFFF;
    font-size: 24px;
    padding: 15px 25px;
}
.button{
    background: #e03636;
    color:#FFFFFF;
    font-size: 20px;
    border-radius: 12px;
    padding: 15px 25px;
    border: none;
    outline: none;
    margin-top: 50px;
    margin-left: 1000px;
    cursor: pointer;
}

button:hover{
    background: #444343;
    color:#ffffff;  
}

.menu a{
    color: white;
    background-color: #720d0d;
}

.container1{
    width:1700px;
    height:250px; 
    background-color: rgb(243, 237, 237); 
    position: relative; 
    margin-top: 100px; 
    margin-left: 175px;
}

.container2 {
    width:1700px;
    height:70px; 
    background-color: rgb(170, 13, 13); 
    position: relative; 
    margin-top: 20px;
}