*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, ;    
}
header{
    background:#ffffff;
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: 100%;
    background-image: url("https://t3.ftcdn.net/jpg/00/67/70/40/360_F_67704008_fxdmJ8wDOqDYts9P3tzdbxqZf8NfWT21.jpg");  
}
nav{
    margin-top:-50px;
    margin-bottom: 100px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100%;
    background-color: #f10e0e;
}
.logo {
    background: #720d0d;
    font-size: 25px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    padding: 10px 15px;
    pointer-events: none;
}
.menu a{
    font-size: 20px;
    padding:20px 30px;
    color:#640000;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}

header a:hover{
    background: #720d0d;
    color:#fff;
}
.container{
    display: flex;
    align-items: right;
    font-family: 'Poppins', sans-serif;
}

.h-text{
    max-width: 700px;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: larger;
}

.h-text h2{
    color: rgb(29, 28, 28);
    font-size: 27px;
}

button{
    background: #720d0d;
    color:#FFFFFF;
    font-size: 18px;
    border-radius: 12px;
    padding: 15px 25px;
    border: none;
    outline: none;
    margin-top: 50px;
    margin-left: 4%;
    cursor: pointer;
    position: relative;
}

button:hover{
    background: #444343;
    color:#ffffff;    
}
.right{
    margin-left:450px;
    margin-top: -30px;
    height: 80px;
}
.content1{
    width: 100%;
    text-align: center;
    padding-top: 50%;
    display: table;
    box-sizing: border-box;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

h3{
    text-align: center;
    font-weight: 600;
    margin-top: 70px;
    
}
p{
    margin-top: 20px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px;
}
.row{ 
    display: flex;
    justify-content:space-between;
    padding: 2%;
}
.column{
    font-size: large;
    flex-basis: 15%;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;  
}
.column:hover {
    color:white;
}

.table {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 5%;
}

td{
    border: solid;
    border-color: #444343;
}

.block{
    align-self: left;
}


.left .right{
    flex-basis: 50%;
}
.left h1{
    font-size: 20px;
    color: #000000;
    margin-top: 5px;
    margin-left: 80px;
    width: 40%;
    height: auto;
}

.right{
    margin-left:700px;
    margin-top: -380px;
    height: 80px;
    width: 50%;
}

.learnabout{
    width: 100%;
    text-align: center;
    padding: 4px;
    background-color: #640000;
    color: #FFFFFF;

}

.left img{
    width: 40%;
    margin-left: 50px;
    align-items: center;
}
